<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/static/admin/assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org">
<head th:replace="_layout/admin/link/head"></head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <div th:replace="_layout/admin/menu"></div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card-header">
                        <div class="d-flex justify-content-between" style="margin-button: 5px">
                            <h6 class="text-muted">Quản lý phân quyền > Chỉnh sửa phân quyền</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card mb-4">
                            <form th:action="@{/permissions/update}" th:object="${updatePermissionDto}"
                                  method="POST">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <h5 class="mb-0">1. Thông tin chức năng: </h5>
                                    </div>
                                    <input type="hidden" th:field="*{id}">
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-name">Tên chức năng</label>
                                        <input type="text" class="form-control" id="basic-default-name"
                                               th:field="*{name}"
                                               placeholder="product:search">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-endpoint">URI</label>
                                        <input type="text" class="form-control" id="basic-default-endpoint"
                                               th:field="*{uri}"
                                               placeholder="/product/search">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Phương thức yêu cầu</label>
                                        <select class="form-select placement-dropdown" th:field="*{httpMethod}">
                                            <option value="GET">GET</option>
                                            <option value="POST">POST</option>
                                            <option value="PUT">PUT</option>
                                            <option value="DELETE">DELETE</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Quyền truy cập</label>
                                        <select class="form-select placement-dropdown" th:field="*{type}">
                                            <option value="PERMITTED">Cho phép truy cập</option>
                                            <option value="DENY">Từ chối truy cập</option>
                                        </select>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="basic-default-password">Mô tả</label>
                                        <input type="text" class="form-control" id="basic-default-password"
                                               th:field="*{desc}"
                                               placeholder="Chức năng tìm kiếm sản phẩm">
                                    </div>
                                    <div class="mb-3">
                                        <hr class="m-0">
                                    </div>

                                    <div class="mb-3">
                                        <h5 class="mb-0">2. Nhóm quyền truy cập: </h5>
                                    </div>
                                    <div class="mb-3">
                                        <table id="authorization-permission-data-table"
                                               class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Thứ tự</th>
                                                <th>Tên nhóm quyền</th>
                                                <th>Mô tả</th>
                                                <th>Kích hoạt</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="group, stat : ${updatePermissionDto.groups}">
                                                <td th:text="${stat.count}"></td>
                                                <td>
                                                    <strong th:text="${group.name}"></strong>
                                                </td>
                                                <td th:text="${group.description}"></td>
                                                <td>
                                                    <div class="form-check form-switch mb-2">
                                                        <input class="form-check-input" type="checkbox"
                                                               th:field="*{selectedGroups}"
                                                               th:value="${group.id}" id="${group.id}">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Trạng thái</label>
                                        <div class="form-check form-switch mb-2">
                                            <input class="form-check-input" type="checkbox"
                                                   id="flexSwitchCheckDefault"
                                                   th:field="*{active}">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Click
                                                để kích hoạt
                                                tài khoản ngay khi tạo thành công</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <a type="button" class="btn btn-outline-secondary"
                                           style="margin-right: 5px"
                                           href="/permissions">Thoát
                                        </a>
                                        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <div th:replace="_layout/admin/link/js"></div>

</div>
</div>
</body>
</html>
