<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>

<div th:fragment="header">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/static/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">Giỏ hàng: <span>350.000VNĐ</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="/static/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Đăng Nhập</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a th:href="@{/}">TRANG CHỦ</a></li>
                <li><a href="./shop-grid.html">CỬA HÀNG</a></li>
                <li><a href="#">ĐIỀU HƯỜNG</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Giỏ Hàng</a></li>
                        <li><a href="./checkout.html">Thanh Toán</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> organi@hutech.edu.vn</li>
                <li>Miễn phí giao hàng cho hóa đơn từ 350.000VNĐ</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> organi@hutech.edu.vn</li>
                                <li>Miễn phí giao hàng cho hóa đơn từ 350.000VNĐ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">

                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Đăng Nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a th:href="@{/}"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li th:classappend="${active == 'home'} ? 'active' : ''"><a th:href="@{/}">Trang Chủ</a></li>
                            <li th:classappend="${active == 'shop'} ? 'active' : ''"><a th:href="@{/shop}">Cửa Hàng</a></li>
                            <li th:classappend="${active == 'direct'} ? 'active' : ''"><a href="#">Điều Hướng</a>
                                <ul class="header__menu__dropdown">
                                    <li><a th:href="@{/direct/details}">Shop Details</a></li>
                                    <li><a th:href="@{/direct/shopping_cart}">Giỏ Hàng</a></li>
                                    <li><a th:href="@{/direct/checkout}">Thanh Toán</a></li>
                                </ul>
                            </li>
                            <li th:classappend="${active == 'contact'} ? 'active' : ''"><a th:href="@{/contact}">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">Giỏ hàng: <span>350.000VNĐ</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero" th:classappend="${active == 'home'} ? '' : 'hero-normal'">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>DANH MỤC</span>
                        </div>
                        <ul>
                            <li><a href="#">Thịt tươi sống</a></li>
                            <li><a href="#">Rau</a></li>
                            <li><a href="#">Trái Cây & Hạt</a></li>
                            <li><a href="#">Hải sản</a></li>
                            <li><a href="#">Trứng, sữa</a></li>
                            <li><a href="#">Thức ăn nhanh</a></li>
                            <li><a href="#">Hành, gia vị</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Tất cả danh mục
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Bạn cần tìm gì?">
                                <button type="submit" class="site-btn">TÌM KIẾM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+84 99.999.999</h5>
                                <span>Hỗ trợ 24/7</span>
                            </div>
                        </div>
                    </div>
                        <div th:if="${active == 'home'}" class="hero__item set-bg" data-setbg="/static/img/hero/banner.jpg">
                            <div class="hero__text">
                                <span>TRÁI CÂY TƯƠI</span>
                                <h2>Rau <br />100% organic</h2>
                                <p>Nhận và giao hàng miễn phí</p>
                                <a href="#" class="primary-btn">MUA NGAY</a>
                            </div>
                        </div>
                </div>
                </div>
            </div>


    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section th:if="${active != 'home'}" class="breadcrumb-section set-bg" data-setbg="/static/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a th:href="@{/}">Organi</a>
                                <span th:switch="${active}">
                                    <span th:case="'shop'">Cửa Hàng</span>
                                    <span th:case="'contact'">Liên Hệ </span>
                                    <span th:case="'home'">Trang Chủ</span>
                                     <span th:case="'direct'">Điều hướng</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->


</div>

</body>

</html>