<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="authorization-group-table-select">
    <div class="table-responsive text-nowrap">
        <table id="authorization-permission-data-table" class="table table-bordered">
            <thead>
            <tr>
                <th>Thứ tự</th>
                <th>Tên nhóm quyền</th>
                <th>Mô tả</th>
                <th>Kích hoạt</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group, stat : ${groups}">
                <td th:text="${stat.count}"></td>
                <td>
                    <strong th:text="${group.name}"></strong>
                </td>
                <td th:text="${group.description}"></td>
                <td>
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="${group.id}">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>